language: node_js
dist: trusty
sudo: required
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
node_js:
  "8"
cache:
  directories:
    - node_modules
install:
  - npm install -g polymer-cli
  - polymer install
script:
  - xvfb-run polymer test
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
